<div class="loader">
  <img 
  src="assets/icons/logocc.png"
   alt="C&amp;C" class="img-fluid" style="max-width: 15rem;"> 

  <div class="loader-animation">
    <div>
      <div class="primary"></div>
      <div class="tertiary"></div>
      <div class="secondary"></div>
    </div>
    <div>
      <div class="tertiary"></div>
      <div class="quaternary"></div>
    </div>
    <div>
      <div class="secondary"></div>
      <div class="primary"></div>
      <div class="secondary"></div>
    </div>
    <div>
      <div class="primary"></div>
      <div class="secondary"></div>
      <div class="tertiary"></div>
    </div>
    <div>
      <div class="secondary"></div>
      <div class="quaternary"></div>
      <div class="secondary"></div>
    </div>
  </div>

</div> 