@import '../scss/variables';

.dialog-container {
  padding: 0;
  min-width: 320px;
  max-width: 500px;
  width: 100%;

  .mat-dialog-content {
    max-height: 60vh;
    overflow-y: auto;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 16px;
  }
    
  h3 {
    color: $secondary;
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .error-message {
    background-color: rgba($error, 0.1);
    color: $error;
    padding: 1rem;
    margin: 1rem;
    border-radius: 4px;
    border-left: 4px solid $error;
    animation: fadeIn 0.3s ease;
  }
  
  .returned-json {
    max-height:200px;
    overflow: scroll;
    background-color: $light-gray;
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    border-left: 4px solid $primary;
    animation: fadeIn 0.3s ease;
  }
  
  mat-spinner {
    display: inline-block;
    margin: 0 auto;
  }

  .dialog-actions {
    display: flex;
    justify-content: space-between;
  }
}  



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
