@if(productHasAttributes(product)){
  <div class="detail-item" *ngIf="!!product?.data?.year">
    <span class="label">Year:</span>
    <span class="value">{{ product?.data?.year }}</span>
  </div>
  <div class="detail-item" *ngIf="!!product?.data?.price">
    <span class="label">Price:</span>
    <span class="value">{{ product?.data?.price }}</span>
  </div>
  <div class="detail-item" *ngIf="!!product?.data?.['CPU model']">
    <span class="label">CPU Model:</span>
    <span class="value">{{ product?.data?.['CPU model'] }}</span>
  </div>
  <div class="detail-item" *ngIf="!!product?.data?.['Hard disk size']">
    <span class="label">Hard Disk Size:</span>
    <span class="value">{{ product?.data?.['Hard disk size'] }}</span>
  </div>    
} @else {
  <div class="detail-item">
    <span class="label">No data available</span>
  </div>
}
 