<div class="dialog-container">
  <div>
    <h2 mat-dialog-title class="warning-title">
      <mat-icon class="warning-icon">warning</mat-icon>
      Confirm Delete
    </h2>

    <div class="error-message" *ngIf="error">
      {{ error }}
    </div>
  
    <div class="returned-json" *ngIf="returnedJson">
      <h2>Returned JSON</h2>
      <pre>{{ returnedJson }}</pre>
    </div>
    
    <div mat-dialog-content>
      <p>Are you sure you want to delete the following product?</p>
      
      <div class="product-info" *ngIf="data.product">
        <h3>{{ data.product.name }}</h3>

        <app-product-view [product]="data.product"></app-product-view>

      </div>
      
    </div>
    
    <div mat-dialog-actions class="dialog-actions">
      <button mat-stroked-button (click)="closeModal()">Cancel</button>
      <button mat-raised-button color="warn" (click)="confirm()" [disabled]="loading">
        <span *ngIf="!loading">Confirm Delete</span>
        <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
      </button>
    </div>
  </div>
</div> 