@import '../../../assets/scss/variables';

.dialog-container {

  .warning-title {
    color: $warning;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 1rem;

    .warning-icon {
      color: $warning;
    }
  }
  
  .product-info {
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 0;
    
    h3 {
      margin-top: 0;
      margin-bottom: 0.75rem;
      color: $secondary;
      font-weight: 500;
      font-size: 1.25rem;
    }
    
  }
  
}

// Animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
