@import '../assets/scss/variables';

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
}

.app-header {
  background: $secondary-gradient;
  color: $white;
  padding: 1rem 0;
  box-shadow: $box-shadow-sm;
  display:flex;
  justify-content: space-between;

  .header-content {
    padding: 0 2rem;
    display: flex;
    align-items: center;
  }
  
  .app-title {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    
    &:after {
      content: '';
      width: 0;
      height: 4px;
      background: $nav-green;
      position: absolute;
      display: block;
      bottom: 0;
      left: 50%;
      margin: 0;
      border: 0;
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -ms-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
    }
    
    &:hover:after {
      width: 100%;
      left:0;   
    }
  }
}

.app-content {
  flex: 1;
  background-color: #f9f9f9;
}