@import '../../../assets/scss/variables';

.dialog-container {

  .warning-title {
    color: $warning;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 1rem;

    .warning-icon {
      color: $warning;
    }
  }

  .dialog-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .success-title {
    color: $success;
    display: flex;
    align-items: center;
    gap: 8px;
    
    .success-icon {
      color: $success;
    }
  }
  
  .mat-dialog-content {
    max-height: 60vh;
    
    .product-info {
      background-color: $light-gray;
      border-radius: 8px;
      padding: 1rem;
      margin: 1rem 0;
      
      h3 {
        margin-top: 0;
        margin-bottom: 0.75rem;
        color: $secondary;
        font-weight: 500;
        font-size: 1.25rem;
      }
      
      .product-details {
        .detail-item {
          display: flex;
          justify-content: space-between;
          padding: 0.5rem 0;
          border-bottom: 1px solid rgba(0, 0, 0, 0.05);
          
          &:last-child {
            border-bottom: none;
          }
          
          .label {
            font-weight: 500;
            color: $tertiary;
          }
          
          .value {
            color: $dark-text;
          }
        }
      }
    }
    
    .response-container {
      margin-top: 1rem;
      
      h3 {
        color: $secondary;
        margin-top: 0;
        font-weight: 500;
        margin-bottom: 0.75rem;
        font-size: 1.1rem;
      }
      
      .response-json {
        background-color: $light-gray;
        padding: 1rem;
        border-radius: 4px;
        white-space: pre-wrap;
        overflow-x: auto;
        border: 1px solid $medium-gray;
        line-height: 1.5;
        color: $dark-text;
        font-size: 0.9rem;
      }
    }
  }
}

// Animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
